<div class="bg">
    <div class="container-fluid h-100 background-blue">
        <div class="row justify-content-center h-100 align-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 background-blue-inverse rounded text-center shadow-lg">
                <div class="">
                    <div class="col-12 my-4">
                        <p class="display-6 text-dark">
                            Sign In With
                        </p>
                    </div>
                    <div class="col-sm-8 mx-auto mt-3">
                        <button type="button" class="google btn btn-primary btn-lg btn-block shadow"
                            data-ripple-color="dark" (click)="FBLogin()">
                            <i class="fab fa-facebook"></i> Sign In with Facebook
                        </button>
                    </div>
                    <div class="col-sm-8 mx-auto mt-3">
                        <button type="button" class="google btn btn-light btn-lg btn-block shadow"
                            data-ripple-color="dark" (click)="Glogin()">
                            <i class="fab fa-google"></i> Sign In with Google
                        </button>
                    </div>
                    <div class="col-sm-8 mt-3 mx-auto text-dark">
                        <mat-tab-group dynamicHeight mat-align-tabs="center">
                            <mat-tab label="Login">
                                    <p class=" m-0">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Username (Unavailable)</mat-label>
                                            <input matInput placeholder="Placeholder" disabled>
                                        </mat-form-field>
                                    </p>
                                    <p class="m-0">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Password (Unavailable)</mat-label>
                                            <input matInput placeholder="Placeholder"
                                                [type]="hide ? 'password' : 'text'" disabled>
                                            <mat-icon class="mpointer" matSuffix (click)="hide = !hide">
                                                {{hide ? 'visibility_off' : 'visibility'}}
                                            </mat-icon>
                                        </mat-form-field>
                                    </p>
                                    <div class="col-6 mx-auto mb-4">
                                        <button type="button" class="btn btn-primary btn-lg btn-block shadow"
                                            data-ripple-color="dark" disabled>
                                            Login <i class="fas fa-sign-in-alt"></i>
                                        </button>
                                    </div>
                            </mat-tab>
                            <mat-tab label="SignUp">
                                <p class=" m-0">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Username (Unavailable)</mat-label>
                                        <input matInput placeholder="Placeholder" disabled>
                                    </mat-form-field>
                                </p>
                                <p class="m-0">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Password (Unavailable)</mat-label>
                                        <input matInput placeholder="Placeholder"
                                            [type]="hide ? 'password' : 'text'" disabled>
                                        <mat-icon class="mpointer" matSuffix (click)="hide = !hide">
                                            {{hide ? 'visibility_off' : 'visibility'}}
                                        </mat-icon>
                                    </mat-form-field>
                                </p>
                                <div class="col-6 mx-auto mb-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block shadow"
                                        data-ripple-color="dark" disabled>
                                        Login <i class="fas fa-sign-in-alt"></i>
                                    </button>
                                </div>
                            </mat-tab>
                        </mat-tab-group>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-pulse" [fullScreen]="true">
    <p style="color: white"> Signing in... </p>
</ngx-spinner>