.background-blue {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 600% 600%;
	animation: gradient 15s ease infinite;
}
div.rounded-box{
	border-radius: 15px!important;
}
// .background-blue-inverse {
// 	background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
// 	background-size: 600% 600%;
//     animation: gradient 15s ease infinite;
//     border-radius: 15px!important;
// }
@media (min-width: 992px) {
	.bg{    
		height: calc(100vh - 53px)!important;
	}
}
@media (max-width: 991px) {
	.bg{    
		height: calc(100vh - 44px);
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.mat-form-field{
    width: 100%;
}
.mpointer {
    cursor: pointer;
}
button.google{
	font-size: large;
}
button.google:hover{	
	color: white;
	background: linear-gradient(-45deg,#23a6d5, #23d5ab);
}
.example-small-box, .example-large-box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 16px;
	padding: 16px;
	border-radius: 8px;
  }
  