@media (max-width: 991px) {

    .main-container {
        height: calc(100vh - 47px);
    }

}

@media (min-width: 992px) {

    .main-container {
        height: calc(100vh - 53px);
    }
}

.note-container{
    overflow: auto;
}

.main-container {
    padding-bottom: 70px;
    overflow: auto;
}

.res-field{
    height: calc(100vh - 330px);
}

.bottom-bar {
    position: fixed;
    bottom:0;
    margin-top: 2px;
    height : 40px;
    z-index: 2;
    border-top: 1px solid #f93154;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.new-button {
    position: sticky;
    margin-top: -20px;
    border-top: 1px solid #ffffff;
}