@import 'https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap';

@media (min-width: 992px) {
    .bg {
        height: calc(100vh - 53px) !important;
    }
}

@media (max-width: 991px) {
    .bg {
        height: calc(100vh - 47px);
    }
}
@media (min-width: 769px){
    h1{        
    font-size  : 6em;
    }
}

@media (max-width: 768px) {
    * {
        text-align: center !important;
    }
    h1{
        font-size  : 3em!important;
    }
    span.lead{
        font-size: 0.9em;
    }
    div.sync{
        margin-top: -30px!important;
    }
    button{
        
    }
}

.main-headding {
    font-family: 'Baloo Tammudu 2', cursive;
}

.background-blue {
    background-image   : url('../../assets/images/newBG.jpg');
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
}

// .wrapper {
//     p {
//         color      : white;
//         font-weight: bolder;
//         font-family: 'Baloo Tammudu 2', cursive;
//         // font-size  : 5em;
//         line-height: 70px;
//     }
// }

//Main headding animation

@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

h1 {
    color      : white;
    font-weight: bolder;
    font-family: 'Baloo Tammudu 2', cursive;
    line-height: 60px;
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
        0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
        0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
        -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);

    span {
        transform: scale(0.9);
        display  : inline-block;
    }

    span:first-child {
        animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
    }

    span:last-child {
        animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
    }
}

@keyframes bop {
    0% {
        transform: scale(0.9);
    }

    50%,
    100% {
        transform: scale(1);
    }
}

@keyframes bopB {
    0% {
        transform: scale(0.9);
    }

    80%,
    100% {
        transform: scale(1) rotateZ(-3deg);
    }
}

div.sync{
    margin-top: -10px;
}
