<div class="bg">
    <div class="container-fluid h-100 background-blue">
        <div class="row justify-content-center h-100 align-content-center">
            <div class="col-12 text-center">
                <div class="wrapper p-0 m-0">
                    <h1 class="p-0 m-0">All-In-One Synced Notepad</h1>
                </div>
                <p class="lead text-white p-0 m-0 mb-3">
                    <small class="mb-3">
                        Sync your notes across devices and access it anywhere
                    </small>
                </p>
            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-outline-primary text-white">Launch <i
                        class="fas fa-external-link-alt"></i></button>
            </div>
            <div class="col-6 text-left">
                <button type="button" class="btn btn-outline-success text-white">Install <i
                        class="fas fa-arrow-down"></i></button>
            </div>
        </div>
    </div>
</div>