<div class="bg">
    <div class="container-fluid h-100 background-blue">
        <div class="row justify-content-center h-100 align-content-center">
            <div class="col-12 text-center">
                <p class="display-2 text-white main-headding">
                    All-In-One Synced Notepad
                </p>
            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-outline-primary">Launch</button>
            </div>
            <div class="col-6 text-left">
                <button type="button" class="btn  btn-outline-success">Install</button>
            </div>
        </div>
    </div>
</div>