@media (max-width: 991px) {

    .main-container,
    .mat-sidenav-content-height,
    .example-container {
        height: calc(100vh - 47px);
    }

    .sidebar {
        width: 150px;
    }

    .notes-container {
        height: calc(100vh - 47px - 56px - 42px);
    }
    .noNotes{        
        height: calc(100vh - 47px - 56px - 42px - 56px);
    }
}

@media (min-width: 992px) {

    .main-container,
    .mat-sidenav-content-height,
    .example-container {
        height: calc(100vh - 53px);
    }

    .sidebar {
        width: 200px;
    }

    .notes-container {
        height: calc(100vh - 53px - 64px - 42px);
    }
    .noNotes{        
        height: calc(100vh - 53px - 64px - 42px - 64px);
    }
}

.notes-Container {
    overflow-y: auto;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-chip {
    max-width: 100%;
}

.bottom-bar {
    margin-top: 2px;
    box-sizing: border-box;
    height : 40px;
    z-index: 2;
    border-top: 1px solid #f93154;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.notes-container {
    overflow: auto;
}

.new-button {
    position: sticky;
    margin-top: -20px;
    border-top: 1px solid #ffffff;
}