<div class="bg-dark m-0 p-0 main-container">
    <div class="">
        <mat-sidenav-container class="example-container">
            <mat-sidenav #sidenav mode="side" [opened]='isDrawerOpen' class="sidebar">
                <div class="container-fluid">
                    <div class="row  d-flex align-items-center">
                        <div class="col-9 col-sm-10">
                            <p class="my-1 h3"># Tags</p>
                        </div>
                        <div class="col-3 col-sm-2">
                            <button mat-icon-button class="example-icon btn btn-sm p-0 text-white"
                                aria-label="Example icon-button with menu icon" (click)="isDrawerOpen = !isDrawerOpen"
                                *ngIf="isDrawerOpen">
                                <i class="fas fa-lg fa-times"></i>
                            </button>
                        </div>
                        <hr>
                        <mat-chip-list class="mat-chip-list-stacked pr-3 p-0 m-1" aria-label="Color selection"
                            *ngIf="hashTags">
                            <mat-chip *ngFor="let tag of hashTags" selected color="accent">
                                {{tag}}
                            </mat-chip>
                        </mat-chip-list>
                        <div class="item" *ngIf="!hashTags">
                            <ngx-skeleton-loader count="10" appearance="rectangle" animation="progress-dark" [theme]="{ 
                                height: '30px',
                                width: '100%',
                                'border-radius': '15px',
                                'background-color': '#b0bec5'
                              }">
                            </ngx-skeleton-loader>
                        </div>
                    </div>
                </div>
            </mat-sidenav>
            <mat-sidenav-content class="mat-sidenav-content-height">

                <div class="container-fluid p-0 m-0">
                    <div class="">
                        <mat-toolbar>
                            <button mat-icon-button class="example-icon btn btn-danger btn-sm mr-2 p-0 px-2 text-white"
                                aria-label="Example icon-button with menu icon" (click)="isDrawerOpen = !isDrawerOpen"
                                *ngIf="!isDrawerOpen">
                                <i class="fas fa-2x fa-angle-right"></i>
                            </button>
                            <span>Your Notes</span>
                            <span class="example-spacer"></span>
                            <div class="col-5 ml-auto text-right">
                                <p class="p-0 m-0 custom-m">
                                    <mat-form-field appearance="legacy" class="p-0 m-0"
                                        [ngClass]="searchExpand ? 'd-width-on' : 'd-width-off'">
                                        <mat-label>Search</mat-label>
                                        <input class="s-inout" matInput placeholder="Placeholder"
                                            (click)="searchExpand = true" (blur)="searchExpand = false">
                                        <mat-icon matSuffix class="search-button" (click)="searchExpand = true" style="cursor: pointer;">search
                                        </mat-icon>
                                    </mat-form-field>
                                </p>
                            </div>
                        </mat-toolbar>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="dynamic notes-container row pb-4" *ngIf="Notes && Notes.length>=1">
                        <div class="col-sm-6 col-md-6 col-lg-4" *ngFor="let Note of Notes">
                            <app-note-card [note]="Note"></app-note-card>
                        </div>
                    </div>
                    <div class="row noNotes d-flex align-items-center justify-content-center"
                        *ngIf="Notes && !(Notes.length>0)">
                        <div class=" text-center">
                            <h1>Create your first note by Clicking + icon</h1>
                        </div>
                    </div>
                    <div class="row noNotes d-flex align-items-center justify-content-center mt-3" *ngIf="!Notes">
                        <div class="item">
                            <ngx-skeleton-loader count="4" appearance="rectangle" animation="progress-dark" [theme]="{ 
                                'border-radius': '5px',
                                height: '150px',
                                width: '98%',
                                'margin': '1%',
                                'background-color': '#262626'
                              }">
                            </ngx-skeleton-loader>
                        </div>
                    </div>
                </div>

                <div class="container-fluid shadow-lg p-0 m-0 bg-dark">
                    <div class="text-center col-12 bottom-bar bg-dark" [ngClass]="{'bottomBar-dynamic': isDrawerOpen}">
                        <a type="button" class="btn btn-danger btn-rounded shadow new-button"
                            routerLink="/notes/create">
                            <i class="fas fa-plus"></i> Add a Note
                        </a>
                    </div>

                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>