<div class="container-fluid bg-dark m-0 p-0 main-container">
    <div class="">
        <mat-sidenav-container class="example-container">
            <mat-sidenav #sidenav mode="side" [opened]='isDrawerOpen' class="sidebar">
                <div class="container-fluid">
                    <div class="row">
                        <h2 class="p-0 my-1"># Tags</h2>
                        <hr>
                        <div class="col-12 p-0 m-0">
                            <ul class="p-0">
                                <li class=" my-2" *ngFor="let tag of Note.getHashTags()">
                                    {{tag}}
                                    <hr class="m-0 p-0">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </mat-sidenav>
            <mat-sidenav-content>

                <div class="container-fluid p-0 m-0">
                    <div class="">
                        <mat-toolbar>
                            <button mat-icon-button class="example-icon btn btn-danger btn-sm mr-2 p-1 px-3 text-white"
                                aria-label="Example icon-button with menu icon" (click)="isDrawerOpen = !isDrawerOpen">
                                <i class="fas fa-2x"
                                    [ngClass]="[isDrawerOpen ? 'fa-angle-left' : 'fa-angle-right']"></i>
                            </button>
                            <span>Your Notes</span>
                            <span class="example-spacer"></span>
                        </mat-toolbar>
                    </div>
                </div>

                <div class="container">
                    <div class="row" *ngIf="Notes.length>=1">
                        <div class="col-sm-6 col-md-6 col-lg-4" *ngFor="let Note of Notes">
                            <app-note-card [note]="Note"></app-note-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="noNotes text-center" *ngIf="!(Notes.length>=1)">
                            <h1>Create your first note by Clicking + icon</h1>
                        </div>
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>