@media (max-width: 991px) {

    .main-container,
    .mat-sidenav-content-height,
    .example-container {
        height: calc(100vh - 47px);
    }

    .sidebar {
        width: 150px;
    }
    .bottomBar-dynamic{
        width: calc(100vw - 150px);
        transition: 0.5s;
    }

    .notes-container {
        height: calc(100vh - 47px - 56px - 42px);
    }
    .noNotes{        
        height: calc(100vh - 47px - 56px - 42px - 56px);
    }
}
 
@media (min-width: 992px) {

    .main-container,
    .mat-sidenav-content-height,
    .example-container {
        height: calc(100vh - 53px);
    }

    .bottomBar-dynamic{
        width: calc(100vw - 200px);
        transition: 0.5s;
    }

    .sidebar {
        width: 200px;
    }

    .notes-container {
        height: calc(100vh - 53px - 64px - 42px);
    }
    .noNotes{        
        height: calc(100vh - 53px - 64px - 42px - 64px);
    }
}

.mat-sidenav-content-height{
    overflow: auto;
}

.notes-Container {
    overflow-y: inherit;
    padding-bottom: 5rem;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-chip {
    max-width: 100%;
}

.bottom-bar {
    position: fixed; 
    bottom:0;
    margin-top: 2px;
    height : 40px;
    z-index: 3;
    border-top: 1px solid #f93154;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.new-button {
    position: sticky;
    margin-top: -20px;
    border-top: 1px solid #ffffff;
}

.dynamic{
    overflow: auto;
}